body{
	background-color: #222;
}

.prof_pic_img{
	position: relative;
	left: 4%;
	transform: translateY(-50%);	
}

.img_prof_picture{
	position: relative;
	width: 30%;
	height: auto;
}

.insta_pic{
	font-size: 1.5em !important;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

a{
	color:white;
}

.prof_pic_img a:hover{
	color: white;
}

.prof_fore_ground{
	width: 30%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.6);
	border-radius: 50%;
	padding: 4px;
	display: none;
}

.link_proj{
	text-decoration: underline;
}

.prof_pic{
	width: 60%;
	float: left;
}

.details{
	font-family: "Cabin",sans-serif;
}	

.sli_bord{
	border: 4px solid white;
}

.m_icon{
	position: relative;
	left: 50%;
	padding: 15%;
	transform: translateX(-50%);
	border: 2px solid white;
	border-radius: 50%;
}

.al_bot{
	margin-top: 2%;
	margin-bottom: 2%;
}

.desc_box{
	position: absolute;
	width: 50%;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
	background: rgba(196,44,158,1);
	background: -moz-linear-gradient(-45deg, rgba(196,44,158,1) 0%, rgba(49,154,211,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(196,44,158,1)), color-stop(100%, rgba(49,154,211,1)));
	background: -webkit-linear-gradient(-45deg, rgba(196,44,158,1) 0%, rgba(49,154,211,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(196,44,158,1) 0%, rgba(49,154,211,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(196,44,158,1) 0%, rgba(49,154,211,1) 100%);
	background: linear-gradient(135deg, rgba(196,44,158,1) 0%, rgba(49,154,211,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c42c9e', endColorstr='#319ad3', GradientType=1 );
}

.al_bot a:visited{
	text-decoration: none;
	color: white;
}

a.linked_in_l:hover{
	color:#0077B5;
}

a.g_plus_l:hover{
	color:#d34836;
}

a.behance_l:hover{
	color: #1769ff;
}

a.steam_l:hover{
	color:#000;
}

a.snapchat_l:hover{
	color:#fffc00;
}

a.soundcloud_l:hover{
	color:#f70;
}
